{% extends 'base.html.twig' %}

{% block title %}Tache index{% endblock %}

{% block body %}
    {% include ('components/molecules/header.html.twig') %}
    {% include ('tache/_form.html.twig') %}

    <section>
    {% for tache in taches %}
        {% include 'components/molecules/task.html.twig' with {
            task_text: tache.title,
            task_tag: 'h2',
            task_p_text: tache.priority,
            task_date_text: tache.date ? tache.date|date('d/m/Y') : '',
            task_id: tache.id,
        } %}
    {% endfor %}
    </section>
{#    {{ include ('components/molecules/article.html.twig') }}#}
{% endblock %}
