article {

  background-color: var(--purple);
  height: 10vh;
  width: 100%;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}