.form {
  padding: 7px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px;

  #title {
    font-weight: 600;
    font-size: 14px;
    color: #575767;
    border: none;
    width: 100%;
    background-color: transparent;
  }


  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    select {
      font-weight: 600;
      font-size: 14px;
      color: #575767;
      cursor: pointer;
    }

    #date {
      color: #575767;
      cursor: pointer;
    }
  }
}