{% set task_text = task_text|default('') %}
{% set task_tag = task_tag|default('') %}
{% set task_modifiers = task_modifiers|default([]) %}
{% set task_complete = task_complete|default(0) %}
{% set task_p_text = task_p_text|default('') %}
{% set task_date_text = task_date_text|default('') %}
{% set task_id = task_id|default('') %}

<div x-data="{
    isCheck() {
        axios.get('http://localhost:8000/api/taches/'+{{task_id}} )
        .then(function (response) {
            console.log(response.data.checked);
            if (response.data.checked == false) {
                axios.put('http://localhost:8000/api/taches/'+{{task_id}}, {
                    checked: true
                })
                removeClass('uncomplete');
                addClass('complete');
            } else {
                axios.put('http://localhost:8000/api/taches/'+{{task_id}}, {
                    checked: false
                })
                removeClass('complete');
                addClass('uncomplete');
            }
        })
    }}
">

<label class="uncomplete">
    <div>
        <div>
            <input x-on:change="isCheck" class="checkbox" type="checkbox" name="checkbox" id="checkbox">
            {% include 'components/atoms/title.html.twig' with {
                title_text: task_text,
                title_tag: task_tag,
                title_modifiers: task_complete ? ['complete', 'md'] : ['uncomplete', 'md'],
            } %}
        </div>
        {% include ('tache/_delete_form.html.twig') %}
    </div>
    <div class="details">
        {% include 'components/atoms/p.html.twig' with {
            p_text: task_p_text,
        } %}
        {% include 'components/atoms/p.html.twig' with {
            p_text: task_date_text,
        } %}
    </div>
</label>

</div>