.uncomplete {
  div {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    cursor: pointer;

    div {

      margin-top: 0;

      .checkbox {
        height: 24px;
        width: 24px;
        border-radius: 6px;
        border: 2px solid #dadada;
        background-color: #fcfcfc;
        cursor: pointer;
      }
    }
    form {

      padding: 0;
      margin: 0;

      button {
        color: #b9b9be;
        text-decoration: none;
        font-size: 19px;
        margin-top: 5px;
        height: 19px;
      }
    }

  }
  .details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px 0 15px 0;

    p {
      font-weight: 600;
      font-size: 14px;
      color: #b9b9be;
    }
  }
}

.complete {

  div {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    cursor: pointer;

    div {

      margin-top: 0;

      .checkbox {
        height: 24px;
        width: 24px;
        border-radius: 6px;
        border: 2px solid #dadada;
        background-color: #fcfcfc;
        cursor: pointer;
      }

      h2 {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #b9b9be;
        margin-left: 10px;
      }
    }
    form {

      padding: 0;
      margin: 0;

      button {
        color: #575767;
        text-decoration: none;
        font-size: 19px;
        margin-top: 5px;
        height: 19px;
      }
    }
  }

  .details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px 0 15px 0;

    p {
      font-weight: 600;
      font-size: 14px;
      color: #b9b9be;
    }
  }

}