.uncomplete {
  transition: 0.8s;
  div {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    cursor: pointer;

    div {

      margin-top: 0;

      .checkbox {
        height: 24px;
        width: 24px;
        border-radius: 6px;
        border: 2px solid var(--light-gray);
        background-color: var(--lightest);
        cursor: pointer;
      }
    }
    form {

      padding: 0;
      margin: 0;

      button {
        color: var(--gray);
        text-decoration: none;
        font-size: var(--font-size-button);
        margin-top: 5px;
        height: 19px;
      }
    }

  }
  .details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px 0 15px 0;

    p {
      font-weight: var(--font-weight-semi-bold);
      font-size: var(--font-size-p);
      color: var(--gray);
    }
  }
}

.complete {
  transition: 0.8s;
  div {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    cursor: pointer;

    div {

      margin-top: 0;

      .checkbox {
        height: 24px;
        width: 24px;
        border-radius: 6px;
        border: 2px solid var(--gray);
        background-color: var(--lightest);
        cursor: pointer;
      }

      h2 {
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-h2);
        line-height: var(--font-line-height-h2);
        color: var(--gray);
        margin-left: 10px;
      }
    }
    form {

      padding: 0;
      margin: 0;

      button {
        color: var(--dark-gray);
        text-decoration: none;
        font-size: var(--font-size-button);
        margin-top: 5px;
        height: 19px;
      }
    }
  }

  .details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px 0 15px 0;

    p {
      font-weight: var(--font-weight-semi-bold);
      font-size: var(--font-size-p);
      color: var(--gray);
    }
  }

}