{% set title_text = title_text|default('') %}
{% set title_tag = title_tag|default('') %}
{% set title_modifiers = title_modifiers|default([]) %}
{% set task_complete = task_complete|default(0) %}
{% set p_text = p_text|default('') %}
{% set p_text = p_text|default('') %}

<label class="label">
    <div>
        <div>
            <input class="checkbox" type="checkbox" name="checkbox" id="checkbox">
            {% include 'components/atoms/title.html.twig' with {
                title_text: '',
                title_tag: '',
                title_modifiers: task_complete ? ['complete', 'md'] : ['uncomplete', 'md'],
            } %}
        </div>
        {% include 'components/atoms/a.html.twig' with {
            a_modifiers: task_complete ? ['complete'] : ['uncomplete']
        } %}
    </div>
    <div class="details">
        {% include 'components/atoms/p.html.twig' with {
            p_text: '🔴  Très Urgent',
        } %}
        {% include 'components/atoms/p.html.twig' with {
            p_text: '03 mai 2023',
        } %}
    </div>
</label>