@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../templates/components/atoms/button.style.scss';
@import '../../templates/components/atoms/title.style.scss';
@import '../../templates/components/atoms/p.style.scss';
@import '../../templates/components/atoms/i.style.scss';
@import '../../templates/components/atoms/a.style.scss';
@import '../../templates/components/atoms/hr.style.scss';
@import '../../templates/components/molecules/header.style.scss';
@import '../../templates/components/molecules/task.style.scss';
@import '../../templates/components/molecules/article.style.scss';

:root {
  //COLOR
  --purple : #473FA0;
  --darkest: #0E0E11;
  --dark : #141414;
  --dark-gray : #575767;
  --gray : #B9B9BE;
  --light-gray : #DADADA;
  --light: #F8F8F8;
  --lightest: #FCFCFC;

  //FONT-SIZE
  --font-size-h1 : 32px;
  --font-size-button : 19px;
  --font-size-h2 : 18px;
  --font-size-h3 : 18px;
  --font-size-p : 14px;
  --font-size-placeholder : 14px;

  //FONT-WEIGHT
  --font-weight-bold : 700;
  --font-weight-semi-bold : 600;
  --font-weight-medium : 500;

  //FONT-LINE-HEIGHT
  --font-line-height-h2 : 24px;
  --font-line-height-h3 : 18px;
}



* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 40px 30px;
  background-color: var(--light);
}

body.dark-theme {
  --purple : #473FA0;
  --darkest:  #FCFCFC;
  --dark : #F8F8F8;
  --dark-gray : #DADADA;
  --gray : #575767;
  --light-gray : #B9B9BE;
  --light: #141414;
  --lightest: #0E0E11;
}

.dark-theme hr {
  background-color: var(--darkest)!important;
}

.dark-theme .checkbox {
  background-color: var(--gray)!important;
}

.dark-theme button {
  color: var(--darkest);
}

form {

  padding: 7px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px;


  #tache_title {
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-p);
    color: var(--dark-gray);
    border: none;
    width: 100%;
    background-color: transparent;
  }


  hr {
    background-color: var(--dark-gray);
    margin: 10px 0;
    width: 100%;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    #tache_priority {
      font-weight: var(--font-weight-semi-bold);
      font-size: var(--font-size-p);
      color: var(--dark-gray);
      border: none;
      background-color: transparent;
    }
    div {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 26%;

      #tache_date {
        color: var(--dark-gray);
        font-weight: var(--font-weight-semi-bold);
        font-size: var(--font-size-p);
        cursor: pointer;
        border: none;
        background-color: transparent;
        width: 86px;
      }
    }


    button {
      height: 35px;
      width: 35px;
      background-color: var(--purple);
      color: var(--lightest);
      // font-size: 20px;
      border: 2px solid var(--purple);
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
    }
  }

}