@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../templates/components/atoms/button.style.scss';
@import '../../templates/components/atoms/title.style.scss';
@import '../../templates/components/atoms/p.style.scss';
@import '../../templates/components/atoms/i.style.scss';
@import '../../templates/components/atoms/a.style.scss';
@import '../../templates/components/atoms/hr.style.scss';
@import '../../templates/components/molecules/header.style.scss';
@import '../../templates/components/molecules/form.style.scss';
@import '../../templates/components/molecules/task.style.scss';
@import '../../templates/components/molecules/article.style.scss';

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 40px 30px;
  background-color: #f8f8f8;
}

form {

  padding: 7px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px;


  #tache_title {
    font-weight: 600;
    font-size: 14px;
    color: #575767;
    border: none;
    width: 100%;
    background-color: transparent;
  }


  hr {
    background-color: #575767;
    margin: 10px 0;
    width: 100%;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    #tache_priority {
      font-weight: 600;
      font-size: 14px;
      color: #575767;
      border: none;
      background-color: transparent;
    }
    div {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 26%;

      #tache_date {
        color: #575767;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
        border: none;
        background-color: transparent;
        width: 86px;
      }
    }


    button {
      height: 35px;
      width: 35px;
      background-color: #515cc6;
      color: #fff;
      // font-size: 20px;
      border: 2px solid #515cc6;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
    }
  }

}