@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 40px 30px;
    background-color: #f8f8f8;


    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;

        h1 {
            font-weight: 700;
            font-size: 32px;
            color: #0E0E11;
            text-shadow: (0 3px 7px rgba($color: #000000, $alpha: .25));
        }

        .fa-moon {
            color: #0E0E11;
            font-size: 25px;
            margin: 10px;
            cursor: pointer;
        }
    }

    form {

        padding: 7px 0;

        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 5px;

            #title {
                font-weight: 600;
                font-size: 14px;
                color: #575767;
                border: none;
                width: 100%;
                background-color: transparent;
            }


            div {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
            
                #date {
                    border: none;
                    color: #575767;
                    background-color: transparent;
                    cursor: pointer;
                }

                button {
                    height: 35px;
                    width: 35px;
                    background-color: #515cc6;
                    color: #fff;
                    // font-size: 20px;
                    border: 2px solid #515cc6;
                    border-radius: 50%;
                    text-align: center;
                    cursor: pointer;
                }
            }
        }

            hr {
                background-color: #575767;
                margin: 0 0 10px 0;
            }

    }



    section {


        .uncomplete {

            div {

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-top: 25px;
                cursor: pointer;

                div {

                    margin-top: 0;

                    .checkbox {
                        height: 24px;
                        width: 24px;
                        border-radius: 6px;
                        border: 2px solid #dadada;
                        background-color: #fcfcfc;
                    }
                    h2 {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 24px;
                        color: #575767;
                        margin-left: 10px;
                    }
                }

                a {
                    color: #b9b9be;
                    text-decoration: none;
                    font-size: 19px;
                    margin-top: 5px;
                }
            }

            .details {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin: 5px 0 20px 0;

                p {
                    font-weight: 600;
                    font-size: 14px;
                    color: #b9b9be;
                }
            }

        }

        .complete {

            div {

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-top: 25px;
                cursor: pointer;

                div {

                    margin-top: 0;

                    .checkbox {
                        height: 24px;
                        width: 24px;
                        border-radius: 6px;
                        border: 2px solid #dadada;
                        background-color: #fcfcfc;
                    }
                    
                    h2 {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 24px;
                        color: #b9b9be;
                        margin-left: 10px;
                    }
                }

                a {
                    color: #575767;
                    text-decoration: none;
                    font-size: 19px;
                    margin-top: 5px;
                }

            }

            .details {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin: 5px 0 15px 0;

                p {
                    font-weight: 600;
                    font-size: 14px;
                    color: #b9b9be;
                }
            }

        }
    }

    article {

        background-color: #515cc6;
        height: 10vh;
        width: 100%;
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        h3 {
            font-size: 18px;
            font-weight: 700;
            line-height: 18px;
            color: #f2f2f2;
        }
    }
}
