{% set button_text = button_text|default('') %}

{#{% set button_modifiers = button_modifiers|default([]) %}#}

{#{% set button_modifiersList = {#}
{#    'primary': 'button--primary',#}
{#    'secondary': 'button--secondary',#}
{#} %}#}

<button class="button">{{ button_text }}</button>
