{% set h2_text = h2_text|default('') %}

{% set h2_modifiers = h2_modifiers|default([]) %}

{% set h2_modifiersList = {
    'uncomplete': 'h2--uncomplete',
    'complete': 'h2--complete',
} %}


<h2 class="h2 {% for key, value in h2_modifiersList %}
                {% if key in h2_modifiers%}{{ value }}{% endif %}
            {% endfor %}">{{ h2_text }}</h2>