.title {
  font-family: 'Inter', sans-serif;

  &--xs {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-line-height-h3);
    color: var(--light);
  }

  &--md {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-h2);
    line-height: var(--font-line-height-h2);
    margin-left: 10px;
  }

  &--lg {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h1);
    color: var(--darkest);
    text-shadow: (0 3px 7px rgba($color: #000000, $alpha: .25));
  }

  &--uncomplete {
    color: var(--dark-gray);
  }

  &--complete {
    color: var(--gray);
  }
}